body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background: #ffe5ec;    
}

.encabezado { 
    background: #ff87ab; 
}


.encabezado__logo img { height: 28px; }


.encabezado__contenedor {
  max-width: 1000px;
  padding: 10px 12px;
  display: flex;                 /* <- clave */
  justify-content: space-between;
  align-items: center;
}

.menu__lista {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;                 /* <- clave */
  gap: 10px;
}

a.menu__enlace{
  display:inline-block;
  padding:10px 30px;
  border-radius:30px;
  color:#fff;
  text-decoration:none;
  border:2px solid whitesmoke; 
  cursor: pointer; 
}

button.menu__enlace--boton{
  display:inline-block;
  padding:10px 30px;
  border-radius:30px;
  color:#fff;
  background:#faa4bd;             
  border:2px solid #faa4bd;        
}

a.menu__enlace:hover,
button.menu__enlace--boton:hover{
  background:#fff;
  color:#f564a9;
  border:2px solid whitesmoke  
}