@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #000000; 
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    padding-top: 40px;
    width:250px;
    height: auto;
}


#body-img {
    width: 400px;
    height: auto;
}


