/* Importa una fuente similar a la de la página de Muse */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #000000; /* fondo negro */
    color: #ffffff; /* texto blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}



