body {
  background: #fffdff; 
  font-family: "Playfair Display", serif;
}

h1 {
  color: #e24272;
}

.nav-link {
  color: black;
}

#blog-link {
  color: #e24272;
}

#productos {
  background: #000000;
  color: #fffdff;
  border: 0;
}

#productos:hover {
  border: 2px solid #000000;
}

.carousel-container {
  max-width: 400px; /* tamaño máximo */
  margin: 0 auto;   /* centrar */
}

.carousel-container img {
  height: auto;
  border-radius: 10px; /* opcional, esquinas redondeadas */
}
